
:root {
    font-size: 0.875em;
    --column-width: 1080px;
}
*,
::before,
::after{
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
    color:black;

}

.header {
    color: inherit;
    font-weight: bolder;
    text-transform: capitalize;
    max-width: var(--column-width);
    padding:0.8em
}
.panel {
    background-color: #ccc;
    padding: 0.8em;
    text-align: right;
    margin-inline: 1rem;
    border-radius: 1em;
}

.sidebar{
    display: block;
    float:left;
    list-style-type: none;
    padding: 0.8rem;

}
.catogrey{
    color: brown;
    margin: 2em 1em;
    text-decoration: underline;
    text-transform: uppercase;
}
.sidecontent{
    background-color: cadetblue;
    padding: 0.8em;
    margin-inline: 1rem;
    border-radius: 1em;
    color:white; 

}
.prod{
    text-transform: capitalize;
    color:blue;
    margin: 2em 1em;
}
table{
    font-family: 'Courier New', 
    Courier, monospace;
    margin: 2em 3em;
    font-size: 0.99rem;

}
.thed{
    font-size: inherit;
    
}
table >.products{
    width: 50%;
}
.footer{
    color: #666;
    background-color: #ccc;
    text-align: center;
    padding: 0.5em 1em;
    
}

